{
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-type-checked",
    "plugin:@typescript-eslint/recommended-requiring-type-checking"
  ],
  "env": { "es2022": true, "node": true },
  "overrides": [{ "env": { "node": true }, "files": [".eslintrc"], "parserOptions": { "sourceType": "script" }}],
  "parser": "@typescript-eslint/parser",
  "parserOptions": { "ecmaVersion": 2022, "sourceType": "module", "project": ["./tsconfig.json"] },
  "plugins": ["@typescript-eslint"],
  "rules": {
    "no-console": "off",
    "wdio/no-pause": "off",
    "@typescript-eslint/no-unsafe-argument": "off",
    "no-empty-pattern": "off"
  }
}
